<style>

h1#darkblue {
  color: #32505E;
  font-size: 25px; 
}


h2#darkblue {
  color: #32505E;
  font-size: 20px;
}

h3#darkblue {
  color: #32505E;
  font-size: 15px;
}

h1#blue {
  color: #4B6876;
  font-size: 25px; 
}

h2#blue {
  color: #4B6876;
  font-size: 20px;
}

h3#blue {
  color: #4B6876;
  font-size: 15px;
}

h1#lblue {
  color: #95A5AC;
  font-size: 25px; 
}

h2#lblue {
  color: #95A5AC;
  font-size: 20px;
}

h3#lblue {
  color: #95A5AC;
  font-size: 15px;
}

h1#lightblue {
  color: #D0D7DA;
  font-size: 25px; 
}

h2#lightblue {
  color: #D0D7DA;
  font-size: 20px;
}

h3#lightblue {
  color: #D0D7DA;
  font-size: 15px;
}

a#blue:link {
  color: #32505E;
  background-color: transparent;
  text-decoration: none;
}

a#blue:visited {
  color: #32505E;
  background-color: transparent;
  text-decoration: none;
}

a#blue:hover {
  color: #4B6876;
  background-color: transparent;
  text-decoration: underline;
}

a#blue:active {
  color: #4B6876;
  background-color: transparent;
  text-decoration: underline;
}
  
</style>
