<style>


h1#blue {
  color: #32505E;
}

h2#blue {
  color: #4B6876;
}
  
h1#darkred {
  color: #955A4B; /* Dark red big font */
  font-size: 25px; 
}

h2#darkred {
  color: #955A4B;
  font-size: 20px; /* Dark red paragraph font */
}

h3#darkred {
  color: #955A4B;
  font-size: 15px; /* Dark red paragraph font */
}

BA8173
h1#dred {
  color: #BA8173; /* not so Dark red big font */
  font-size: 25px; 
}

h2#dred {
  color: #BA8173;
  font-size: 20px; /* not so Dark red paragraph font */
}

h3#dred {
  color: #BA8173;
  font-size: 15px; /* not so Dark red paragraph font */
}

h1#lightred {
  color: #FFF5F2; /* Light red big font */
  font-size: 25px; 
}

h2#lightred {
  color: #FFF5F2;
  font-size: 20px; /* Light red subtitle font */
}

h3#lightred {
  color: #FFF5F2;
  font-size: 15px; /* Light red paragraph font */
}

h1#pink {
  color: #FFE2DB;
  font-size: 25px; /* pink big font */
}

h2#pink {
  color: #FFE2DB;
  font-size: 20px; /* pink subtitle font */
}

h3#pink {
  color: #FFE2DB;
  font-size: 15px; /* pink paragraph font */
}





  
</style>
